<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISchrService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISchrService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3465/SchrService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISchrService" contract="SchrServiceReference.ISchrService"
                name="BasicHttpBinding_ISchrService" />
            <endpoint address="http://localhost:8888/SchrService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ISchrService" contract="ServiceReferenceConsole.ISchrService"
                name="WSHttpBinding_ISchrService">
                <identity>
                    <userPrincipalName value="admin-pc\admin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
