<?xml version="1.0"?>
<configuration>
  <!--configSections>
    <section name="oraSetting" type="System.Configuration.AppSettingsSection" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>    
  </configSections>
  <oraSetting>
    <add key="Host" value="localhost"/>
    <add key="Port" value="1521"/>
    <add key="Protocol" value="TCP"/>
    <add key="ServiceName" value="xe"/>
    <add key="UserId" value="PARTS"/>
    <add key="Password" value="Zelda"/>
  </oraSetting-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
